.heading-max {
  font-weight: 900;
  font-size: min(5rem, 8vw);
  line-height: 1.4;
}

.heading-large {
  font-weight: 700;
  font-size: min(4rem, 5.5vw);
  line-height: 1.2;
}

.heading-medium {
  font-weight: 600;
  font-size: min(2.5rem, 4vw);
  line-height: 1.2;
}

.heading-small {
  font-weight: 600;
  font-size: min(2rem, 2.5vw);
  line-height: 1.2;
}

