.empty-checkout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border: 0.125rem dashed var(--color-focus);
  border-radius: 0.5rem;
}

.empty-checkout-icon {
  width: 4rem;
  height: 4rem;
}

