.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .section {
  padding: 0;
  padding-bottom: 0;
}

.navbar-container {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem 8rem;
  padding-bottom: 1.5rem !important;
}

.navbar-search {
  display: flex;
  gap: 0.5rem;
}

.navbar-search-container {
  flex: 1;
}

.navbar-categories {
  display: flex;
  gap: 0.5rem;
}

