.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.section-content {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .section-content {
    padding: 0 2rem;
  }
}

