:root {
  --color-focus: oklch(73.2610% 0.1718 42.387);
  --color-shine: oklch(100.000% 0.0250 42.000);
  --color-shade: oklch(10.0000% 0.1000 42.000);

  --color-white: oklch(100.00% 0.0000 0.000);
  --color-black: oklch(0.0000% 0.0000 0.000);
  --color-success: oklch(70.000% 0.2000 120.000);
  --color-danger: oklch(58.27% 0.23912 30.000);
  --color-warning: oklch(80.000% 0.2000 90.000);

  --font-sans: sans;
  --font-curs: curs;
  --font-mono: mono;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-focus: oklch(63.639% 0.2286 298.867);
    --color-shade: oklch(100.000% 0.0250 42.000);
    --color-shine: oklch(20.904% 0.00002 271.152);
  }
}

